/* Common header and footer styles */
header {
    text-align: center;
    padding: 20px;
}

header h1 {
    font-family: 'Cinzel', serif;
    font-size: 3rem;
    color: green;
}

header p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: orange;
}

.mt-3 input[type="date"] {
    background-color: white; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 5px 10px;
    font-size: 1rem; 
    color: black; 
}

.mt-3 button {
    background-color: white; 
    color: black; 
    border: 1px solid #ccc; 
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}


.mt-3 button:hover {
    background-color: #f1f1f1; 
    border-color: #999; 
}

#submitted-entries {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

#submitted-entries ul {
    list-style-type: none;
    padding: 0;
}

#submitted-entries li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}


